In [1]:
import os 
import joblib
import numpy as np
import pandas as pd


from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer


processed_data_folder = "../data/processed"

data_path = os.path.join(processed_data_folder, "data.csv")
data = pd.read_csv(data_path)
data.head()

,production_budget,worldwide_gross,title_year,aspect_ratio,duration,cast_total_facebook_likes,budget,imdb_score,opening_gross,screens
0,425000000,2783918982,2009.0,1.78,178.0,4834,237000000.0,7.9,77025481.0,3452.0
1,300000000,963420425,2007.0,2.35,169.0,48350,300000000.0,7.1,139802190.0,4362.0
2,300000000,879620923,2015.0,2.35,148.0,11700,245000000.0,6.8,70403148.0,3929.0
3,275000000,1084439099,2012.0,2.35,164.0,106759,250000000.0,8.5,160887295.0,4404.0
4,275000000,260002115,2013.0,2.35,150.0,45757,215000000.0,6.5,29210849.0,3904.0

In [2]:
labels = data.pop("worldwide_gross")
features = data

In [3]:
sample = features.iloc[0, :]
print(sample)

production_budget            4.250000e+08
title_year                   2.009000e+03
aspect_ratio                 1.780000e+00
duration                     1.780000e+02
cast_total_facebook_likes    4.834000e+03
budget                       2.370000e+08
imdb_score                   7.900000e+00
opening_gross                7.702548e+07
screens                      3.452000e+03
Name: 0, dtype: float64

In [4]:

model_folder = "../models/"
model_name = "model.pkl"
full_model_folder = os.path.join(model_folder, model_name)
model = joblib.load(full_model_folder)

In [5]:
predictions = model.predict(features)
print(predictions[0])

2754233290.1244297

In [6]:
sample_array = np.expand_dims(sample.values, axis=0)
sample_prediction = model.predict(sample_array)[0]
print(sample_prediction)

2754233290.1244297

/Users/arturopolancolozano/opt/anaconda3/envs/mlops/lib/python3.8/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but SimpleImputer was fitted with feature names
  warnings.warn(

In [18]:
sample_dict = {
  "production_budget": 425000000,
  "title_year": 2009,
  "aspect_ratio": 1.78,
  "duration": 178,
  "cast_total_facebook_likes": 4834,
  "budget": 237000000,
  "imdb_score": 7.9,
  "opening_gross": 77025481,
  "screens": 3452
}

data_dict = {key:[value] for key, value in sample_dict.items()}
data_df  = pd.DataFrame.from_dict(data_dict)
data_array = data_df.values
sample_prediction = model.predict(sample_array)[0]
print(sample_prediction)

2754233290.1244297

/Users/arturopolancolozano/opt/anaconda3/envs/mlops/lib/python3.8/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but SimpleImputer was fitted with feature names
  warnings.warn(

In [16]:

print(data_array.shape)

(1, 9)

2754233290.1244297

/Users/arturopolancolozano/opt/anaconda3/envs/mlops/lib/python3.8/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but SimpleImputer was fitted with feature names
  warnings.warn(